<template>
  <q-dialog persistent>
    <q-card style="min-width: 20vw">
      <q-card-section class="q-pb-sm">
        <span class="q-ml-sm text-h6">
          {{
            editedItem.id
              ? `Edit customer: ${editedItem.companyName ||
                  editedItem.name + ' ' + editedItem.surname}`
              : 'New customer'
          }}
        </span>
        <q-btn
          round
          flat
          dense
          unelevated
          no-caps
          icon="close"
          class="float-right"
          color="grey-8"
          @click="close()"
        />
      </q-card-section>
      <q-separator spaced="xs" class="q-mx-md" />
      <q-card-section class="q-py-none">
        <q-form ref="form" class="q-gutter-md">
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                ref="company"
                outlined
                dense
                v-model="editedItem.companyName"
                label="Company name"
                lazy-rules
                :rules="[
                  val => isValid('company') || 'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-input
                ref="name"
                outlined
                dense
                v-model="editedItem.name"
                label="Name"
                lazy-rules
                :rules="[val => isValid('name') || 'This field is required.']"
              />
            </div>
            <div class="col">
              <q-input
                ref="surname"
                outlined
                dense
                v-model="editedItem.surname"
                label="Surname"
                lazy-rules
                :rules="[
                  val => isValid('surname') || 'This field is required.'
                ]"
              />
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input outlined dense v-model="editedItem.ico" label="ICO" />
            </div>
            <div class="col">
              <q-input outlined dense v-model="editedItem.dic" label="DIC" />
            </div>
          </div>
          <div class="text-subtitle2 q-mt-md">
            Address
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                outlined
                dense
                v-model="editedItem.address.city"
                label="City"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-input
                outlined
                dense
                v-model="editedItem.address.street"
                label="Street"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-input
                outlined
                dense
                v-model="editedItem.address.zip"
                label="Zip"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-input
                outlined
                dense
                v-model="editedItem.address.houseNumber"
                label="House number"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'This field is required.'
                ]"
              />
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-section class="q-pt-sm">
        <q-card-actions class="q-pl-none">
          <q-btn label="Uložit" color="primary" @click="addItem()" />
          <q-btn label="Zrušit" color="negative" @click="close()" />
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { CustomerType } from '@/types/customerType';
import { QForm, QInput } from 'quasar';
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  emits: ['close', 'save'],

  props: {
    customer: {
      type: Object as PropType<CustomerType>,
      default: () => ({
        id: '' as any,
        companyName: '',
        name: '',
        surname: '',
        ico: '',
        dic: '',
        address: {
          street: '',
          city: '',
          zip: '',
          houseNumber: ''
        }
      })
    }
  },

  data: () => ({
    defaultItem: {
      id: '' as any,
      companyName: '',
      name: '',
      surname: '',
      ico: '',
      dic: '',
      address: {
        street: '',
        city: '',
        zip: '',
        houseNumber: ''
      }
    }
  }),

  computed: {
    editedItem: {
      get: function () {
        return this.customer;
      },

      set: function (newValue: any) {
        return {
          id: newValue.id || null,
          companyName: newValue.companyName,
          name: newValue.name,
          surname: newValue.surname,
          ico: newValue.ico,
          dic: newValue.dic,
          address: {
            street: newValue.address.street,
            city: newValue.address.city,
            zip: newValue.address.zip,
            houseNumber: newValue.address.houseNumber
          }
        };
      }
    }
  },

  methods: {
    async addItem () {
      if (this.$refs.form) {
        if (await (this.$refs.form as typeof QForm).validate()) {
          const payload = {
            ...(this.editedItem.id && { id: this.editedItem.id }),
            companyName: this.editedItem.companyName,
            name: this.editedItem.name,
            surname: this.editedItem.surname,
            ico: this.editedItem.ico,
            dic: this.editedItem.dic,
            address: this.editedItem.address
          };
          if (!payload.id) {
            await this.$store.dispatch('customer/addCustomer', payload);
            this.$q.notify({
              type: 'positive',
              message: 'Customer created.',
              timeout: 500
            });
          } else {
            await this.$store.dispatch('customer/editCustomer', payload);
            this.$q.notify({
              type: 'positive',
              message: 'Customer edited.',
              timeout: 500
            });
          }

          this.close();
          this.$emit('save');
        } else {
          this.$q.notify({
            type: 'negative',
            message: 'Form not valid.',
            timeout: 500
          });
        }
      }
    },

    isValid (field: string): boolean {
      if (field === 'company') {
        if (
          this.editedItem.companyName === '' &&
          this.editedItem.name === '' &&
          this.editedItem.surname === ''
        ) {
          return false;
        }
        return true;
      }
      if (field === 'name') {
        if (this.editedItem.surname !== '' && this.editedItem.name === '') {
          return false;
        }
        return true;
      }
      if (field === 'surname') {
        if (this.editedItem.name !== '' && this.editedItem.surname === '') {
          return false;
        }
        return true;
      }
      return true;
    },

    close () {
      // this.editedItem = Object.assign({}, this.defaultItem);
      this.$emit('close');
    }
  }
});
</script>
