<template>
  <div class="row">
    <div class="col-11 q-mx-lg">
      <div class="row justify-end q-ma-lg">
        <div class="col" />
        <div class="col text-h3 q-ml-xl q-mb-lg">
          <q-separator color="grey" size="3px" spaced="md" class="q-mr-lg" />
          Faktura {{ invoice.invoiceNumber }}
        </div>
      </div>
      <div class="row q-gutter-xl">
        <div class="col">
          <span class="row text-h4 text-uppercase">
            Dodavatel
          </span>
          <q-separator spaced="sm" class="q-mr-xl" color="grey" />
          <span class="row text-bold text-h4 q-mt-md q-mb-xs">
            {{ profile.name }} {{ profile.surname }}
          </span>
          <span class="row text-subtitle1" style="font-size: 22px">
            {{ profile.address.street }} {{ profile.address.houseNumber }}
          </span>
          <span class="row text-subtitle1" style="font-size: 22px">
            {{ profile.address.zip }} {{ profile.address.city }}
          </span>
          <div
            v-if="profile.ico"
            class="row justify-between q-gutter-xl q-mt-xs"
            style="font-size: 22px"
          >
            <span>IČO</span>
            <span>{{ profile.ico }}</span>
          </div>
          <div class="row justify-start text-bold" style="font-size: 22px;">
            <span>Neplátce DPH</span>
          </div>
          <div
            v-if="invoice.paymentMethod === 'bank'"
            class="row justify-between q-gutter-xl q-mt-sm"
            style="font-size: 22px"
          >
            <span>Bankovní účet</span>
            <span>{{ profile.bankAccount }}</span>
          </div>
          <div
            v-if="invoice.paymentMethod === 'bank'"
            class="row justify-between q-gutter-xl"
            style="font-size: 22px"
          >
            <span>Variabilní symbol</span>
            <span>{{ invoice.invoiceNumber }}</span>
          </div>
          <div
            v-else-if="invoice.paymentMethod === 'cash'"
            class="row justify-between q-gutter-xl q-mt-sm"
            style="font-size: 22px"
          >
            <span>Platba v hotovosti</span>
          </div>
        </div>
        <div class="col">
          <span class="row text-h4 text-uppercase">
            Odběratel
          </span>
          <q-separator spaced="sm" class="q-mr-xl" color="grey" />
          <span class="row text-h4 q-mt-md q-mb-xs text-bold">
            {{
              invoice.customer.companyName ||
                `${invoice.customer.name} ${invoice.customer.surname}`
            }}
          </span>
          <span class="row text-subtitle1" style="font-size: 22px">
            {{ invoice.customer.address.street }}
            {{ invoice.customer.address.houseNumber }}
          </span>
          <span class="row text-subtitle1" style="font-size: 22px">
            {{ invoice.customer.address.zip }}
            {{ invoice.customer.address.city }}
          </span>
          <div
            v-if="invoice.customer.ico"
            class="row justify-between q-gutter-xl q-mt-xs"
            style="font-size: 22px"
          >
            <span>IČO</span>
            <span> {{ invoice.customer.ico }} </span>
          </div>
          <div
            v-if="invoice.customer.dic"
            class="row justify-between q-gutter-xl"
            style="font-size: 22px"
          >
            <span>DIČ</span>
            <span> {{ invoice.customer.dic }} </span>
          </div>
          <div
            class="row justify-between q-gutter-xl q-mt-sm"
            style="font-size: 22px"
          >
            <span>Datum vystavení</span>
            <span> {{ invoice.invoiceDate }} </span>
          </div>
          <div class="row justify-between q-gutter-xl" style="font-size: 22px">
            <span>Datum splatnosti</span>
            <span> {{ invoice.dueDate }} </span>
          </div>
        </div>
      </div>
      <q-separator color="grey" size="3px" spaced="md" />
      <q-card flat class="q-mt-xl">
        <q-card-section>
          <q-table
            :rows="invoice.invoiceItems"
            :columns="invoiceCols"
            row-key="name"
            hide-pagination
            dense
            flat
          >
            <template #body-cell-price="props">
              <q-td :props="props">
                {{
                  new Intl.NumberFormat('cs-CZ', {
                    maximumFractionDigits: 0,
                    style: 'currency',
                    currency: 'CZK'
                  }).format(props.row.price)
                }}
              </q-td>
            </template>
          </q-table>
        </q-card-section>
      </q-card>
      <div class="column items-end q-mt-lg">
        <div class="col text-right" style="width: 30%;">
          <q-separator spaced="md" size="5px" color="grey" />
          <span class="text-h4 text-bold q-pt-md">
            {{
              new Intl.NumberFormat('cs-CZ', {
                maximumFractionDigits: 0,
                style: 'currency',
                currency: 'CZK'
              }).format(invoice.price)
            }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { mapState } from 'vuex';
import { InvoiceExportType } from '@/types/invoiceExportType';

export default defineComponent({
  props: {
    invoice: {
      type: Object as PropType<InvoiceExportType>,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: ''
    }
  },

  data: () => ({
    invoiceCols: [
      {
        name: 'numberOfUnits',
        label: '',
        field: 'numberOfUnits',
        align: 'left',
        style: 'font-size: 16px'
      },
      {
        name: 'unitsOfMeasure',
        label: '',
        field: 'unitsOfMeasure',
        align: 'left',
        style: 'font-size: 16px'
      },
      {
        name: 'description',
        label: '',
        field: 'description',
        align: 'left',
        style: 'font-size: 16px'
      },
      {
        name: 'pricePerUnit',
        label: 'Cena za MJ',
        field: 'pricePerUnit',
        align: 'right',
        style: 'font-size: 16px'
      },
      {
        name: 'price',
        label: 'Celkem',
        field: 'price',
        align: 'right',
        style: 'font-size: 16px;'
      }
    ]
  }),

  computed: {
    ...mapState('user', ['profile'])
  }
});
</script>
