<template>
  <span v-if="!isLoggedIn" class="q-gutter-x-sm">
    <q-btn
      color="accent"
      label="Sign Up"
      @click="
        editModal = true;
        signingUp = true;
      "
    />
    <q-btn
      color="secondary"
      label="Login"
      @click="
        editModal = true;
        signingUp = false;
      "
    />
  </span>
  <span v-else class="q-gutter-x-sm">
    <q-btn
      color="accent"
      label="Edit account"
      icon="mdi-account"
      @click="editUser()"
    />
    <q-btn color="secondary" label="LogOut" @click="logout()" />
  </span>

  <q-dialog v-model="editModal" persistent>
    <q-card style="min-width: 20vw">
      <q-card-section class="q-pb-sm">
        <span class="q-ml-sm text-h6">
          {{ editAccount ? 'Edit account' : signingUp ? 'Sign Up' : 'Login' }}
        </span>
        <q-btn
          round
          flat
          dense
          unelevated
          no-caps
          icon="close"
          class="float-right"
          color="grey-8"
          @click="close()"
        />
      </q-card-section>
      <q-separator spaced="xs" class="q-mx-md" />
      <q-card-section class="q-py-none">
        <q-form ref="form" class="q-gutter-md">
          <div v-if="!editAccount">
            <div class="row q-pt-sm q-gutter-x-sm items-start">
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.email"
                  label="E-mail"
                  lazy-rules
                  :rules="[
                    val => (val && val !== '') || 'This field is required.',
                    val =>
                      /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/g.test(
                        val
                      ) || 'Enter email in the format xyz@abc.com'
                  ]"
                />
              </div>
            </div>
            <div class="row q-pt-sm q-gutter-x-sm items-start">
              <div class="col">
                <q-input
                  outlined
                  dense
                  :type="isPassword ? 'password' : 'text'"
                  v-model="editedItem.password"
                  label="Password"
                  lazy-rules
                  :rules="[
                    val => (val && val !== '') || 'This field is required.'
                  ]"
                >
                  <template v-slot:append>
                    <q-icon
                      :name="isPassword ? 'mdi-eye-off' : 'mdi-eye'"
                      class="cursor-pointer"
                      @click="isPassword = !isPassword"
                    />
                  </template>
                </q-input>
              </div>
            </div>
          </div>
          <div v-if="signingUp || editAccount">
            <div class="row q-pt-sm q-gutter-x-sm items-start">
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.companyName"
                  label="Company name"
                />
              </div>
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.name"
                  label="Name"
                />
              </div>
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.surname"
                  label="Surname"
                />
              </div>
            </div>
            <div class="row q-pt-sm q-gutter-x-sm items-start">
              <div class="col">
                <q-input outlined dense v-model="editedItem.ico" label="ICO" />
              </div>
              <div class="col">
                <q-input outlined dense v-model="editedItem.dic" label="DIC" />
              </div>
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.bankAccount"
                  label="Bank account"
                />
              </div>
            </div>
            <div class="text-subtitle2 q-mt-md">
              Address
            </div>
            <div class="row q-pt-sm q-gutter-x-sm items-start">
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.address.city"
                  label="City"
                />
              </div>
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.address.street"
                  label="Street"
                />
              </div>
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.address.zip"
                  label="Zip"
                />
              </div>
              <div class="col">
                <q-input
                  outlined
                  dense
                  v-model="editedItem.address.houseNumber"
                  label="House number"
                />
              </div>
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-section class="q-pt-sm">
        <q-card-actions class="q-pl-none">
          <q-btn
            :label="
              editAccount ? 'Save changes' : signingUp ? 'Sign Up' : 'Login'
            "
            color="primary"
            @click="editAccount ? saveUser() : signingUp ? signUp() : login()"
          />
          <q-btn label="Cancel" color="negative" @click="close()" />
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { QForm } from 'quasar';
import { defineComponent } from 'vue';
import { mapGetters, mapState } from 'vuex';

export default defineComponent({
  data: () => ({
    isPassword: true,
    defaultItem: {
      email: '',
      password: '',
      companyName: '',
      name: '',
      surname: '',
      ico: '',
      dic: '',
      bankAccount: '',
      address: {
        street: '',
        city: '',
        zip: '',
        houseNumber: ''
      }
    },
    editedItem: {
      email: '',
      password: '',
      companyName: '',
      name: '',
      surname: '',
      ico: '',
      dic: '',
      bankAccount: '',
      address: {
        street: '',
        city: '',
        zip: '',
        houseNumber: ''
      }
    },
    editModal: false,
    signingUp: false,
    editAccount: false
  }),

  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapState('user', ['profile'])
  },

  methods: {
    async signUp () {
      if (this.$refs.form) {
        if (await (this.$refs.form as typeof QForm).validate()) {
          const payload = {
            email: this.editedItem.email,
            password: this.editedItem.password,
            companyName: this.editedItem.companyName,
            name: this.editedItem.name,
            surname: this.editedItem.surname,
            ico: this.editedItem.ico,
            dic: this.editedItem.dic,
            bankAccount: this.editedItem.bankAccount,
            address: this.editedItem.address
          };

          await this.$store.dispatch('user/signUp', payload);
          this.close();
        }
      }
    },

    async login () {
      if (this.$refs.form) {
        if (await (this.$refs.form as typeof QForm).validate()) {
          const payload = {
            email: this.editedItem.email,
            password: this.editedItem.password
          };
          await this.$store.dispatch('user/login', payload);
          this.$router.push({ name: 'invoiceListing' });
          this.close();
        }
      }
    },

    async saveUser () {
      if (this.$refs.form) {
        if (await (this.$refs.form as typeof QForm).validate()) {
          const payload = {
            id: this.profile.id,
            email: this.profile.email,
            companyName: this.editedItem.companyName,
            name: this.editedItem.name,
            surname: this.editedItem.surname,
            ico: this.editedItem.ico,
            dic: this.editedItem.dic,
            bankAccount: this.editedItem.bankAccount,
            address: this.editedItem.address
          };

          await this.$store.dispatch('user/saveUser', payload);
          this.close();
        }
      }
    },

    async logout () {
      this.$store.dispatch('user/logout');
      this.$router.go(0);
    },

    editUser () {
      this.editedItem = this.profile;
      this.editModal = true;
      this.editAccount = true;
    },

    close () {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editModal = false;
    }
  }
});
</script>
