<template>
  <div class="row">
    <div class="col-11 q-mx-auto q-mt-md">
      <div class="row justify-between q-mb-md">
        <span class="text-h4">
          Customers
        </span>
        <q-btn
          color="primary"
          label="New customer"
          @click="customerModal = true"
        />
      </div>
      <q-card>
        <q-table
          :rows="rows"
          :columns="columns"
          row-key="id"
          dense
          flat
          bordered
          :pagination="pagination"
          binary-state-sort
          :loading="loadingRows"
        >
          <template #body-cell-customer="props">
            <q-td :props="props">
              {{ props.row.customer.label }}
            </q-td>
          </template>
          <template #body-cell-actions="props">
            <td :props="props" class="text-right">
              <q-btn
                flat
                round
                size="md"
                icon="mdi-pencil-circle-outline"
                @click="editItem(props.row)"
              />
              <q-btn
                flat
                round
                size="md"
                icon="mdi-delete"
                @click="deleteItem(props.row)"
              />
            </td>
          </template>
        </q-table>
      </q-card>
    </div>
  </div>

  <CustomerModal
    v-model="customerModal"
    @close="close()"
    :customer="editedItem"
    @save="loadCustomers()"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapState } from 'vuex';
import CustomerModal from '@/components/modals/CustomerModal.vue';

export default defineComponent({
  name: 'CustomerListing',
  components: {
    CustomerModal
  },

  data: () => ({
    columns: [
      {
        name: 'companyName',
        label: 'Customer',
        field: (row: any): any =>
          row.companyName || `${row.name} ${row.surname}`,
        // format: (val: string) => val.companyName || `${val.name} ${val.surname}`,
        align: 'left'
      },
      {
        name: 'ico',
        label: 'IČO',
        field: 'ico',
        align: 'left'
      },
      {
        name: 'address',
        label: 'Address',
        field: (row: any) => row.address,
        format: (val: any) =>
          `${val.street} ${val.houseNumber}, ${val.city} ${val.zip}`,
        align: 'left'
      },
      { name: 'actions', label: '', field: '', align: 'right' }
    ],
    pagination: {
      sortBy: 'id',
      descenting: true,
      page: 1,
      rowsPerPage: 10
    },
    rows: [] as any[],
    customerModal: false,
    downloadModal: false,
    editModal: false,
    loadingRows: false,
    loading: false,

    defaultItem: {
      id: '' as any,
      companyName: '',
      name: '',
      surname: '',
      ico: '',
      dic: '',
      address: {
        street: '',
        city: '',
        zip: '',
        houseNumber: ''
      }
    },
    editedItem: {
      id: '' as any,
      companyName: '' as string,
      name: '' as string,
      surname: '' as string,
      ico: '',
      dic: '',
      address: {
        street: '',
        city: '',
        zip: '',
        houseNumber: ''
      }
    }
  }),

  computed: {
    ...mapState('customer', ['customers']),
    ...mapState('user', ['profile'])
  },

  created () {
    this.loadCustomers();
  },

  methods: {
    async loadCustomers () {
      this.loadingRows = true;
      await this.$store.dispatch('customer/fetchCustomers');
      this.rows = this.customers;
      this.loadingRows = false;
    },

    editItem (item: any) {
      this.editedItem = Object.assign({}, item);
      this.customerModal = true;
    },

    async deleteItem (item: any) {
      if (item.hasInvoice) {
        this.$q.notify({
          type: 'warning',
          message: "Customer has assigned invoices, can't be deleted.",
          timeout: 1000
        });
      } else {
        await this.$store.dispatch('customer/deleteCustomer', item.id);
        this.loadCustomers();
      }
    },

    close () {
      this.customerModal = false;
      this.editedItem = Object.assign({}, this.defaultItem);
    }
  }
});
</script>

<style lang="scss" scoped></style>
