<template>
  <q-page class="row items-center justify-evenly">
    Please Log In to continue.
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Home'
});
</script>
