<template>
  <div class="row">
    <div class="col-11 q-mx-auto q-mt-md">
      <div class="row justify-between q-mb-md">
        <span class="text-h4">
          Invoices
        </span>
        <q-btn color="primary" label="New invoice" @click="editModal = true" />
      </div>
      <q-card>
        <q-table
          :rows="rows"
          :columns="columns"
          row-key="id"
          dense
          flat
          bordered
          :pagination="pagination"
          binary-state-sort
          :loading="loadingRows"
        >
          <template #body-cell-customer="props">
            <q-td :props="props">
              {{ props.row.customer.label }}
            </q-td>
          </template>
          <template #body-cell-price="props">
            <q-td :props="props">
              {{
                new Intl.NumberFormat('cs-CZ', {
                  maximumFractionDigits: 0,
                  style: 'currency',
                  currency: 'CZK'
                }).format(props.row.price)
              }}
            </q-td>
          </template>
          <template #body-cell-actions="props">
            <td :props="props" class="text-right">
              <q-btn
                flat
                round
                size="md"
                icon="mdi-pencil-circle-outline"
                @click="editItem(props.row)"
              />
              <q-btn
                flat
                round
                size="md"
                icon="mdi-download-box-outline"
                @click="downloadInvoice(props.row)"
              />
              <q-btn
                flat
                round
                size="md"
                icon="mdi-delete"
                @click="deleteItem(props.row)"
              />
            </td>
          </template>
        </q-table>
      </q-card>
    </div>
  </div>

  <q-dialog v-model="editModal" persistent>
    <q-card style="min-width: 40vw">
      <q-card-section class="q-py-none">
        <q-form ref="form" class="q-gutter-md">
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-select
                outlined
                dense
                v-model="editedItem.customer"
                label="Zákazník"
                :options="customersOptions"
                @filter="
                  (val, update, abort) => {
                    selectLazyLoad(val, update, abort);
                  }
                "
                :loading="optionsLoading"
                lazy-rules
                :rules="[val => val || 'This field is required.']"
              >
                <template #no-option>
                  <div class="text-subtitle1 q-ma-xs">
                    There are no customers, please create one.
                  </div>
                </template>
              </q-select>
            </div>
            <div class="col">
              <q-btn
                dense
                unelevated
                color="primary"
                icon="mdi-plus"
                label="Add customer"
                @click="customerModal = true"
              />
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                outlined
                dense
                v-model="editedItem.invoiceNumber"
                label="Invoice number"
                type="number"
                lazy-rules
                :rules="[val => val !== '' || 'This field is required.']"
              />
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                dense
                outlined
                clearable
                v-model="editedItem.invoiceDate"
                label="Invoice date"
                mask="##.##.####"
                hide-bottom-space
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'This field is required.',
                  val =>
                    /[0-3][0-9].[0-1][0-2].\d{4}/.test(val) || 'Invalid format.'
                ]"
              >
                <template #prepend>
                  <q-icon name="event" class="cursor-pointer" color="primary">
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date
                        v-model="editedItem.invoiceDate"
                        mask="DD.MM.YYYY"
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-table
                flat
                bordered
                :rows="editedItem.invoiceItems"
                :columns="invoiceItemsColumns"
                row-key="id"
                :visible-columns="visibleInvoiceItemsColumns"
                hide-bottom
                separator="cell"
              >
                <template #body-cell-numberOfUnits="props">
                  <q-td :props="props">
                    {{ props.row.numberOfUnits }}
                    <q-popup-edit
                      v-model="props.row.numberOfUnits"
                      v-slot="scope"
                      buttons
                    >
                      <q-input v-model="scope.value" dense autofocus counter />
                    </q-popup-edit>
                  </q-td>
                </template>
                <template #body-cell-unitsOfMeasure="props">
                  <q-td :props="props">
                    {{ props.row.unitsOfMeasure }}
                    <q-popup-edit
                      v-model="props.row.unitsOfMeasure"
                      v-slot="scope"
                      buttons
                    >
                      <q-input v-model="scope.value" dense autofocus counter />
                    </q-popup-edit>
                  </q-td>
                </template>
                <template #body-cell-description="props">
                  <q-td :props="props">
                    {{ props.row.description }}
                    <q-popup-edit
                      v-model="props.row.description"
                      v-slot="scope"
                      buttons
                    >
                      <q-input v-model="scope.value" dense autofocus counter />
                    </q-popup-edit>
                  </q-td>
                </template>
                <template #body-cell-pricePerUnit="props">
                  <q-td :props="props">
                    {{ props.row.pricePerUnit }}
                    <q-popup-edit
                      v-model="props.row.pricePerUnit"
                      v-slot="scope"
                      buttons
                    >
                      <q-input v-model="scope.value" dense autofocus counter />
                    </q-popup-edit>
                  </q-td>
                </template>
                <template #body-cell-price="props">
                  <q-td :props="props">
                    {{
                      new Intl.NumberFormat('cs-CZ', {
                        maximumFractionDigits: 0,
                        style: 'currency',
                        currency: 'CZK'
                      }).format(calcPrice(props.row))
                    }}
                  </q-td>
                </template>
                <template #bottom-row>
                  <q-btn
                    color="primary"
                    icon="mdi-plus"
                    label="Add item"
                    @click="addRow"
                  />
                </template>
              </q-table>
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-select
                outlined
                dense
                v-model="editedItem.paymentMethod"
                :options="paymentMethods"
                label="Payment method"
                lazy-rules
                :rules="[
                  val =>
                    (val.value && val.value.length > 0) ||
                    'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-select
                outlined
                dense
                v-model="editedItem.status"
                :options="statusOptions"
                label="Status"
              />
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-actions align="left">
        <q-btn label="Uložit" color="primary" @click="addItem()" />
        <q-btn label="Zrušit" color="negative" @click="close()" />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="downloadModal">
    <q-card ref="exportPdf" class="invoice" style="min-width: 60vw">
      <InvoiceExport :invoice="invoiceToExport" />
    </q-card>
  </q-dialog>

  <CustomerModal
    v-model="customerModal"
    :customer="defaultcustomer"
    @close="closeCustomerModal"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Jspdf from 'jspdf';
import robotoFont from '@/assets/Roboto';
import { mapGetters, mapState } from 'vuex';
import InvoiceExport from '@/components/modals/InvoiceExport.vue';
import { InvoiceItemType } from '@/types/invoiceItemType';
import CustomerModal from '@/components/modals/CustomerModal.vue';
import { date, QForm } from 'quasar';
import { InvoiceExportType } from '@/types/invoiceExportType';

export default defineComponent({
  name: 'InvoiceListing',
  components: {
    InvoiceExport,
    CustomerModal
  },

  data: () => ({
    columns: [
      {
        name: 'invoiceNumber',
        label: '#',
        sortable: true,
        field: (row: any) => row.invoiceNumber,
        align: 'left'
      },
      {
        name: 'customer',
        label: 'Customer',
        field: 'customer',
        align: 'left'
      },
      {
        name: 'invoiceDate',
        label: 'Invoice date',
        field: 'invoiceDate',
        align: 'left'
      },
      {
        name: 'price',
        label: 'Price',
        field: 'price',
        align: 'left'
      },
      {
        name: 'paymentMethod',
        label: 'Payment method',
        field: 'paymentMethod',
        format: (val: any) => `${val.value}`,
        align: 'left'
      },
      {
        name: 'status',
        label: 'Status',
        field: 'status',
        align: 'left',
        style: (val: any) => {
          switch (val.status) {
            case 'unpaid':
              return 'color: red;';

            case 'paid':
              return 'color: green;';

            case 'canceled':
              return 'color: orange;';

            default:
              break;
          }
        }
      },
      { name: 'actions', label: '', field: '', align: 'right' }
    ],
    pagination: {
      sortBy: 'id',
      descenting: true,
      page: 1,
      rowsPerPage: 10
    },
    rows: [] as any[],
    customerModal: false,
    downloadModal: false,
    editModal: false,
    loadingRows: false,
    loading: false,

    defaultItem: {
      id: '' as any,
      customer: '' as any,
      invoiceDate: '',
      invoiceNumber: '',
      paymentMethod: '' as any,
      invoiceItems: [] as InvoiceItemType[],
      price: -1,
      status: 'unpaid'
    },
    editedItem: {
      id: '' as any,
      customer: '' as any,
      invoiceDate: '',
      invoiceNumber: '',
      paymentMethod: '' as any,
      invoiceItems: [] as InvoiceItemType[],
      price: -1,
      status: 'unpaid'
    },

    defaultcustomer: {
      id: '' as any,
      companyName: '',
      name: '',
      surname: '',
      ico: '',
      dic: '',
      address: {
        street: '',
        city: '',
        zip: '',
        houseNumber: ''
      }
    },

    defaultInvoiceItem: {
      id: -1,
      unitsOfMeasure: '',
      description: '',
      numberOfUnits: 0,
      pricePerUnit: 0,
      price: 0
    },

    invoiceItemsColumns: [
      {
        name: 'id',
        label: '',
        field: (row: any) => row.id,
        align: 'left'
      },
      {
        name: 'numberOfUnits',
        label: 'Amount',
        field: 'numberOfUnits',
        align: 'left'
      },
      {
        name: 'unitsOfMeasure',
        label: 'Units',
        field: 'unitsOfMeasure',
        align: 'left'
      },
      {
        name: 'description',
        label: 'Description',
        field: 'description',
        align: 'left'
      },
      {
        name: 'pricePerUnit',
        label: 'PPU',
        field: 'pricePerUnit',
        align: 'left'
      },
      {
        name: 'price',
        label: 'Price',
        field: 'price',
        align: 'left'
      }
    ],
    visibleInvoiceItemsColumns: [
      'numberOfUnits',
      'unitsOfMeasure',
      'description',
      'pricePerUnit',
      'price'
    ],

    optionsLoading: false,
    paymentMethods: [
      { label: 'Platba převodem', value: 'bank' },
      { label: 'Proforma', value: 'proforma' },
      { label: 'Platba hotovostí', value: 'cash' }
    ],
    statusOptions: ['paid', 'unpaid', 'canceled'],
    invoiceToExport: {} as InvoiceExportType
  }),

  computed: {
    ...mapState('customer', ['customersOptions']),
    ...mapState('user', ['profile']),
    ...mapState('invoice', ['invoices']),
    ...mapGetters('invoice', ['getInvoiceById'])
  },

  created () {
    this.loadInvoices();
  },

  methods: {
    async loadInvoices () {
      this.loadingRows = true;
      await this.$store.dispatch('invoice/fetchInvoices');
      this.rows = this.invoices;
      this.loadingRows = false;
    },

    editItem (item: any) {
      this.editedItem = Object.assign({}, item);
      this.editModal = true;
    },

    async addItem () {
      if (this.$refs.form) {
        if (
          (await (this.$refs.form as typeof QForm).validate()) &&
          this.editedItem.invoiceItems.length > 0
        ) {
          const formatedDate = date.formatDate(
            date.extractDate(this.editedItem.invoiceDate, 'DD.MM.YYYY'),
            'YYYY-MM-DDTHH:mm:ss.SSSZ'
          );
          const payload = {
            ...(this.editedItem.id && { id: this.editedItem.id }),
            customerId: this.editedItem.customer.value,
            invoiceNumber: this.editedItem.invoiceNumber,
            issueDate: formatedDate,
            paymentMethod: this.editedItem.paymentMethod.value,
            status: this.editedItem.status,
            invoiceItems: this.editedItem.invoiceItems
          };
          if (!payload.id) {
            await this.$store.dispatch('invoice/addInvoice', payload);
            this.$q.notify({
              type: 'positive',
              message: 'Invoice created.',
              timeout: 500
            });
          } else {
            await this.$store.dispatch('invoice/editInvoice', payload);
            this.$q.notify({
              type: 'positive',
              message: 'Invoice edited.',
              timeout: 500
            });
          }
          this.close();
          this.loadInvoices();
        } else {
          this.$q.notify({
            type: 'negative',
            message: 'Form not valid.',
            timeout: 500
          });
        }
      }
    },

    async deleteItem (item: any) {
      await this.$store.dispatch('invoice/deleteInvoice', item.id);
      this.loadInvoices();
    },

    close () {
      this.editModal = false;
      this.editedItem = Object.assign({}, this.defaultItem);
    },

    async downloadInvoice (item: any) {
      this.loading = true;
      if (item.paymentMethod.value === 'bank' && !this.profile.bankAccount) {
        this.$q.notify({
          type: 'negative',
          message: 'User does not have bank account.',
          timeout: 500
        });
        return;
      } else {
        this.invoiceToExport = await this.getInvoiceById(this.editedItem.id);
        this.downloadModal = true;
      }

      const doc = new Jspdf({
        orientation: 'portrait',
        unit: 'mm',
        format: 'a4'
      });
      setTimeout(() => {
        const contentHtml: any = (this.$refs.exportPdf as any).$el;
        doc.addFileToVFS('Roboto-Regular.ttf', robotoFont);
        doc.addFont('Roboto-Regular.ttf', 'Roboto', 'normal');
        doc.setFont('Roboto');
        const pdf = doc.html(contentHtml, {
          callback: function (doc) {
            doc.save('file.pdf');
          },
          width: 210,
          windowWidth: 1240
        });
      }, 1000);
    },

    addRow () {
      const newItem = Object.assign({}, this.defaultInvoiceItem);
      newItem.id = this.editedItem.invoiceItems.length;
      this.editedItem.invoiceItems.push(newItem);
    },

    calcPrice (row: any): number {
      if (row.numberOfUnits === 0 || row.pricePerUnit === 0) {
        return 0;
      }
      const result = row.numberOfUnits * row.pricePerUnit;
      return result;
    },

    closeCustomerModal () {
      this.customerModal = false;
    },

    async selectLazyLoad (val: any, update: any, abort: any) {
      this.optionsLoading = true;

      await this.loadCustomers();

      this.optionsLoading = false;
      update();
    },

    async loadCustomers () {
      await this.$store.dispatch('customer/fetchCustomers');
    }
  }
});
</script>

<style lang="scss" scoped></style>
