<template>
  <div class="row">
    <div class="col-11 q-mx-auto q-mt-md">
      <div class="row justify-between q-mb-md">
        <span class="text-h4">
          Projects
        </span>
        <q-btn color="primary" label="New project" @click="editModal = true" />
      </div>
      <q-card>
        <q-table
          :rows="rows"
          :columns="columns"
          row-key="id"
          dense
          flat
          bordered
          :pagination="pagination"
          binary-state-sort
          :loading="loadingRows"
        >
          <template #body-cell-customer="props">
            <q-td :props="props">
              {{ props.row.customer.label }}
            </q-td>
          </template>
          <template #body-cell-estimatedPrice="props">
            <q-td :props="props">
              {{
                new Intl.NumberFormat('cs-CZ', {
                  maximumFractionDigits: 0,
                  style: 'currency',
                  currency: 'CZK'
                }).format(props.row.estimatedPrice)
              }}
            </q-td>
          </template>
          <template #body-cell-finalPrice="props">
            <q-td :props="props">
              {{
                new Intl.NumberFormat('cs-CZ', {
                  maximumFractionDigits: 0,
                  style: 'currency',
                  currency: 'CZK'
                }).format(props.row.finalPrice)
              }}
            </q-td>
          </template>
          <template #body-cell-actions="props">
            <td :props="props" class="text-right">
              <q-btn
                flat
                round
                size="md"
                icon="mdi-pencil-circle-outline"
                @click="editItem(props.row)"
              />
              <q-btn
                flat
                round
                size="md"
                icon="mdi-delete"
                @click="deleteItem(props.row)"
              />
            </td>
          </template>
        </q-table>
      </q-card>
    </div>
  </div>

  <q-dialog v-model="editModal" persistent>
    <q-card style="min-width: 40vw">
      <q-card-section class="row items-center justify-between text-h6">
        <div v-if="!editedItem.id">
          New project
        </div>
        <div v-else>
          Edit project
        </div>

        <q-btn flat rounded icon="mdi-close" v-close-popup />
      </q-card-section>
      <q-separator spaced="xs" class="q-mx-md" />
      <q-card-section class="q-py-none">
        <q-form ref="form" class="q-gutter-md">
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                v-model="editedItem.title"
                label="Title"
                hide-bottom-space
                outlined
                lazy-rules
                :rules="[
                  val => (val && val !== '') || 'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-select
                v-model="editedItem.status"
                label="Status"
                hide-bottom-space
                outlined
                :options="statusOptions"
                lazy-rules
                :rules="[
                  val => (val && val !== '') || 'This field is required.'
                ]"
              />
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                v-model="editedItem.numberOfDev"
                label="Number of developers"
                type="number"
                hide-bottom-space
                outlined
                lazy-rules
                :rules="[
                  val => (val && val !== '') || 'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-input
                v-model="editedItem.estimatedHours"
                label="Estimated hours spent"
                type="number"
                hide-bottom-space
                outlined
                lazy-rules
                :rules="[
                  val => (val && val !== '') || 'This field is required.'
                ]"
              />
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                v-model="editedItem.hours"
                label="Hours spent"
                type="number"
                hide-bottom-space
                outlined
                lazy-rules
                :rules="[
                  val => (val && val !== '') || 'This field is required.'
                ]"
              />
            </div>
            <div class="col">
              <q-input
                v-model="editedItem.hourRate"
                label="Price per hour"
                type="number"
                hide-bottom-space
                outlined
                lazy-rules
                :rules="[
                  val => (val && val !== '') || 'This field is required.'
                ]"
              />
            </div>
          </div>
          <div class="row q-pt-sm q-gutter-x-sm items-start">
            <div class="col">
              <q-input
                v-model="editedItem.desc"
                label="Description"
                hide-bottom-space
                outlined
              />
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-actions align="left">
        <q-btn label="Uložit" color="primary" @click="addItem()" />
        <q-btn label="Zrušit" color="negative" @click="close()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapState } from 'vuex';
import { QForm } from 'quasar';

export default defineComponent({
  name: 'InvoiceListing',

  data: () => ({
    columns: [
      {
        name: 'title',
        label: 'Title',
        field: 'title',
        align: 'left'
      },
      {
        name: 'status',
        label: 'Status',
        field: 'status',
        classes: 'text-capitalize',
        style: (val: any) => {
          switch (val.status) {
            case 'open':
              return 'color: #3adb00;';

            case 'pending':
              return 'color: #ffa114;';

            case 'finished':
              return 'color: #0045e6;';

            case 'closed':
              return 'color: #d10000;';

            default:
          }
        },
        align: 'left'
      },
      {
        name: 'desc',
        label: 'Description',
        field: 'desc',
        align: 'left',
        style: 'max-width:10vw; overflow: hidden;'
      },
      {
        name: 'estimatedPrice',
        label: 'Estimated price',
        field: 'estimatedPrice',
        align: 'left',
        style: 'padding-left: 2rem'
      },
      {
        name: 'finalPrice',
        label: 'Final price',
        field: 'finalPrice',
        align: 'left'
      },
      { name: 'actions', label: '', field: '', align: 'right' }
    ],
    pagination: {
      sortBy: 'id',
      descenting: true,
      page: 1,
      rowsPerPage: 10
    },
    rows: [] as any[],
    editModal: false,
    loadingRows: false,
    loading: false,

    defaultItem: {
      id: '',
      title: '',
      desc: '',
      status: '' as any,
      estimatedHours: '',
      hours: '',
      hourRate: '',
      numberOfDev: '',
      estimatedPrice: '',
      finalPrice: ''
    },
    editedItem: {
      id: '',
      title: '',
      desc: '',
      status: '' as any,
      estimatedHours: '',
      hours: '',
      hourRate: '',
      numberOfDev: '',
      estimatedPrice: '',
      finalPrice: ''
    },

    optionsLoading: false,
    statusOptions: ['open', 'pending', 'finished', 'closed']
  }),

  computed: {
    ...mapState('user', ['profile']),
    ...mapState('project', ['projects'])
  },

  created () {
    this.loadProjects();
  },

  methods: {
    async loadProjects () {
      this.loadingRows = true;
      await this.$store.dispatch('project/fetchProjects');
      this.rows = this.projects;
      this.loadingRows = false;
    },

    editItem (item: any) {
      this.editedItem = Object.assign({}, item);
      this.editModal = true;
    },

    async addItem () {
      if (this.$refs.form) {
        if (await (this.$refs.form as typeof QForm).validate()) {
          const payload = {
            ...(this.editedItem.id && { id: this.editedItem.id }),
            title: this.editedItem.title,
            desc: this.editedItem.desc,
            status: this.editedItem.status,
            estimatedPrice: this.editedItem.estimatedPrice,
            finalPrice: this.editedItem.finalPrice,
            estimatedHours: this.editedItem.estimatedHours,
            hours: this.editedItem.hours,
            hourRate: this.editedItem.hourRate,
            numberOfDev: this.editedItem.numberOfDev
          };
          if (!payload.id) {
            await this.$store.dispatch('project/addProject', payload);
            this.$q.notify({
              type: 'positive',
              message: 'Project created.',
              timeout: 500
            });
          } else {
            await this.$store.dispatch('project/editProject', payload);
            this.$q.notify({
              type: 'positive',
              message: 'Project edited.',
              timeout: 500
            });
          }
          this.close();
          this.loadProjects();
        } else {
          this.$q.notify({
            type: 'negative',
            message: 'Form is not valid.',
            timeout: 500
          });
        }
      }
    },

    async deleteItem (item: any) {
      await this.$store.dispatch('project/deleteProject', item.id);
      this.loadProjects();
    },

    close () {
      this.editModal = false;
      this.editedItem = Object.assign({}, this.defaultItem);
    }
  }
});
</script>

<style lang="scss" scoped></style>
