<template>
  <q-expansion-item
    v-for="(menuItem, index) in menuList"
    :key="index"
    expand-separator
    :icon="menuItem.icon"
    :label="menuItem.title"
    :expand-icon-class="menuItem.children ? '' : 'hidden'"
    :to="menuItem.children ? '' : { name: menuItem.routeName }"
  />
</template>

<script lang="ts">
import { MenuItem } from '@/types/menuItem';
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    menu: {
      type: Array,
      default: [] as MenuItem[]
    }
  },

  components: {},

  computed: {
    menuList (): MenuItem[] {
      return this.menu as MenuItem[];
    }
  }
});
</script>
