<template>
  <q-list padding>
    <MenuItemParent :menu="menuList" />
  </q-list>
</template>

<script lang="ts">
import { menu } from '@/config/menu';
import MenuItemParent from './MenuItemParent.vue';
import { defineComponent } from 'vue';

export default defineComponent({
  components: {
    MenuItemParent
  },

  data: () => ({
    menuList: menu
  }),

  methods: {
    navigate (name: string) {
      this.$router.push({ name: name });
    }
  }
});
</script>

<style></style>
