<template>
  <main-layout>
    <Error404 v-if="pageNotFound" />
    <router-view v-else />
  </main-layout>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import MainLayout from '@/layouts/MainLayout.vue';
import Error404 from '@/pages/Error404.vue';
import { mapState } from 'vuex';

export default defineComponent({
  name: 'App',

  components: {
    MainLayout,
    Error404
  },

  computed: {
    ...mapState('main', ['pageNotFound'])
  },

  created () {
    this.$store.dispatch('user/getSession');
  }
});
</script>

<style lang="scss">
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
</style>
