<template>
  <q-layout view="hHh lpR lFf">
    <q-header class="bg-primary text-white">
      <q-toolbar class="q-gutter-x-sm">
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="miniState = !miniState"
        />
        <q-toolbar-title @click="navigate('home')">
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
          </q-avatar>
          Project manager
        </q-toolbar-title>
        <LoginModal />
      </q-toolbar>
    </q-header>

    <q-drawer
      show-if-above
      v-model="drawer"
      side="left"
      elevated
      :mini="miniState"
    >
      <q-scroll-area class="fit">
        <SideMenu />
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-8 text-white text-caption">
      PPRO project
    </q-footer>
  </q-layout>
</template>

<script lang="ts">
import { QForm } from 'quasar';
import { defineComponent, ref } from 'vue';
import { mapGetters, mapState, useStore } from 'vuex';
import SideMenu from './menu/SideMenu.vue';
import LoginModal from '@/components/modals/LoginModal.vue';

export default defineComponent({
  name: 'MainLayout',

  components: {
    SideMenu,
    LoginModal
  },

  data: () => ({
    drawer: true,
    miniState: false
  }),

  methods: {
    navigate (name: string) {
      this.$router.push({ name: name });
    }
  }
});
</script>
